<div class="nav-items">
  {%- for path in include.paths -%}
  {%- assign hyperpage = site.pages | where: "path", path | first -%}
  {%- if hyperpage.title %}
  <!-- <a class="nav-item" href="{{ hyperpage.url | relative_url }}">{{ hyperpage.title | escape }}</a> -->
  {%- endif -%}
  {%- endfor %}
  <a class="page-link" href="https://arxiv.org/abs/2602.00269">Paper</a>
  <a class="page-link" href="https://github.com/vox-serve/vox-serve">GitHub</a>
  <a class="page-link" href="https://vox-serve.github.io/vox-serve/">Documentation</a>
</div>
