// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)

.site-nav .nav-items .page-link {
  &:not(:last-child) {
    margin-right: $spacing-unit * 0.5;
  }
}
